* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

input {
    box-shadow: none;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

button {
    border: 0;
    outline: 0;
}
